{% extends "base.html" %}

{% block head %}
<title>CharSyn - All Characters</title>
<style>
  .card {
    overflow: hidden
  }

  .card .card-content {
    text-shadow: 2px 2px 10px black;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.75));
  }

  .card .card-image {
    transition: scale 300ms
  }

  .card:hover .card-image {
    scale: 1.10;
  }
</style>
{% endblock %}

{% block body %}
<div class="section">
  <h1 class="title">All Characters</h1>
  <p class="subtitle">Browse through the entire character database.</p>
  <div class="block">
    <form id="global-search" class="form">
      <div class="field">
        <p class="control has-icons-left">
          <input name="name" type="text" class="input" placeholder="Character Name / Base ID Name">
          <span class="icon is-left">
            <i data-feather="search"></i>
          </span>
        </p>
      </div>
      <div class="field buttons has-addons filter-buttons">
        <div class="button is-static">
          <span class="icon">
            <i data-feather="filter"></i>
          </span>
        </div>
        <!-- Populated by JS -->
      </div>
    </form>
  </div>
  <div class="block">
    <div id="characters-container" class="columns is-multiline is-mobile is-1">
      <!-- Populated by JS -->
    </div>
  </div>
</div>
<script>
  var data = {{characters | tojson}}
  var filterTypes = {{filters | tojson | safe}}
  var filters = {}
  var searchName = ""
</script>
<script type="module" src="{{ url_for('static', filename='allCharacters.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='filters.js') }}"></script>

{% endblock %}