<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
  <script src="https://unpkg.com/feather-icons"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
  <script type="module" src="{{ url_for('static', filename='utils.js')}}"></script>
  {% block head %}
  <title>Character Synergy</title>
  {% endblock %}
</head>

<body data-theme="dark">
  <nav class="navbar" role="navigation">
    <div class="navbar-brand">
      <a class="navbar-item has-text-weight-bold is-4 has-text-white has-background-link">CharSyn</a>
      <a class="navbar-item" href="{{ url_for('index')  }}">Home</a>
      <a class="navbar-item" href="{{ url_for('all_characters')  }}">All Characters</a>
    </div>
  </nav>
  <main class="content container">
    {% block body %}{% endblock %}
  </main>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Character Synergy</strong>
        by <a href="https://github.com/DLimaRafael">Rafael D. Lima</a>
      </p>
    </div>
  </footer>
</body>

{% block style %}

{% endblock %}

<script>
  feather.replace()
</script>

</html>