{% extends "base.html" %}

{% block head %}

<title>CharSyn - {{ character.name }}</title>
{% endblock %}

{% block body %}
<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-3by4">
          <img src="{{ url_for('static', filename='assets/placeholder.webp')  }}" alt="">
        </figure>
      </div>
    </div>
  </div>
  <div class="column">
    <section class="hero is-small">
      <div class="hero-body">
        <p class="title">{{ character.name }}</p>
        <p class="subtitle">{{ character.base.name }}</p>
        <p class="has-text-justified"><b>{{ character.base.name }} - {{ character.name }}</b> is an <b>{{ 'S' if
            character.rarity
            == 5 else 'A' }} rank </b>
          character of the <b>{{ character.archetype.name }} archetype</b>. Below are the top matches for this unit and
          a
          table
          containing all registered matches the community has voted on.</p>
      </div>
    </section>

    <hr>

    <section class="hero is-small">
      <div class="hero-body">
        <p class="title">Recommended Matches</p>
      </div>
      <!-- Search / Refresh controls -->
      <!-- <form id="matchForm" action="{{ url_for('get_unmatched_characters_by_name') }}" method="GET" class="form"> -->
      <form id="matchForm" action="" method="POST" class="form">
        <div class="field">
          <label for="name" class="label">Search</label>
          <div class="control is-expanded">
            <input id="matchSearchInput" name="name" type="text" class="input" placeholder="Character name">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox">
              Include Unmatched Characters
            </label>
          </div>
        </div>
      </form>
      {% if matches %}
      <table class="table is-bordered is-striped is-fullwidth">
        <thead>
          <tr>
            <th>Base</th>
            <th>Character Name</th>
            <th>Votes</th>
          </tr>
        </thead>
        <tbody>
          {% for match in matches %}
          <tr>
            <td>{{ character.base.name }}</td>
            <td>{{ character.name }}</td>
            <td>{{ match.votes }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p class="is-size-4 has-text-weight-bold is-unselectable has-text-centered has-text-grey mt-6">No Matches found.
      </p>
      {% endif %}
    </section>
  </div>
</div>

<script src="{{ url_for('static', filename='characterData.js') }}"></script>

{% endblock %}