{% extends "base.html" %}

{% block head %}
<title>CharSyn - All Characters</title>
<style>
  .card .card-content {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .card:hover .card-content {
    opacity: 1;
  }
</style>
{% endblock %}

{% block body %}
<div class="section">
  <div class="block">
    <form id="global-search" class="form">
      <p class="control has-icons-left">
        <input name="name" type="text" class="input" placeholder="Character Name / Base ID Name">
        <span class="icon is-left">
          <i data-feather="search"></i>
        </span>
      </p>
    </form>
  </div>
  <div class="block">
    <div id="characters-container" class="columns is-multiline is-mobile is-1">
      <!-- Populated by JS -->
    </div>

  </div>
</div>
<script>
  var data = {{characters | tojson}}
</script>
<script type="module" src="{{ url_for('static', filename='allCharacters.js') }}"></script>

{% endblock %}